{% extends "base_user.html" %}
{% load static %}
{% block title %}
  Perfil de {{ user.username }}
{% endblock title %}

{% block content %}

<div class="card mb-3">
  <div class="card-header d-flex">
    <h3 class="card-title fw-bold my-auto">Seus projetos</h3>
    <a class="btn btn-primary ms-auto" href="{% url "projeto_create" %}">Cadastrar</a>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Status</th>
          <th>Modalidade</th>
        </tr>
      </thead>
      <tbody>
        {% for p in user.projetos.all %}
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.titulo }}</td>
          <td>{{ p.status }}</td>
          <td>{{ p.modalidade }}</td>
          <td class="d-flex gap-2">
            <a href="{% url "projeto_update" p.id %}" class="btn btn-sm btn-primary">Editar</a>
            <form action="{% url "projeto_delete" p.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-danger">Excluir</buttin>
            </form>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">Você ainda não está em nenhum projeto.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header d-flex">
    <h3 class="card-title fw-bold my-auto">Suas notícias</h3>
    <a class="btn btn-primary ms-auto" href="{% url "noticia_create" %}">Cadastrar</a>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Área de conhecimento</th>
          <th>Criado em</th>
        </tr>
      </thead>
      <tbody>
        {% for n in user.noticias.all %}
        <tr>
          <td>{{ n.id }}</td>
          <td>{{ n.titulo }}</td>
          <td>{{ n.area_conhecimento }}</td>
          <td>{{ n.criado_em }}</td>
          <td class="d-flex gap-2">
            <a href="{% url "noticia_update" n.id %}" class="btn btn-sm btn-primary">Editar</a>
            <form action="{% url "noticia_delete" n.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
            </form>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">Você ainda não criou nenhuma notícia.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}