{% extends 'base_user.html' %}
{% load static %}
{% block title %}
  Dashboard de {{ user.get_primeiro_nome }}
{% endblock %}

{% block content %}
  <div class="dashboard-header mb-4" style="background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);">
    <h1 class="h3 mb-1 {% if not identidade_visual.cor_sistema %}text-dark{% endif %}"
      style="{% if identidade_visual.cor_suplente %}
                   color: {{ identidade_visual.cor_sistema }};
      {% endif %}">
      Olá, {{ user.get_primeiro_nome }}!
    </h1>
    <p class="text-muted">Gerencie suas redes sociais, projetos e notícias</p>
  </div>
  <div class="card mb-3">
    <div class="card-header d-flex">
      <h3 class="card-title fw-bold my-auto {% if not identidade_visual.cor_sistema %}text-dark{% endif %}"
        style="{% if identidade_visual.cor_suplente %}
                color: {{ identidade_visual.cor_sistema }};
        {% endif %}">
        Suas redes sociais
      </h3>
      <a class="btn btn-success ms-auto" href="{% url 'user_social_link_create' %}">Cadastrar</a>
    </div>
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th>Rede social</th>
            <th>URL</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for s in user.social_links.all %}
            <tr>
              <td>{{ s.rede.nome }}</td>
              <td>
                <a href="{{ s.rede.url_base }}/{{ s.url }}">{{ s.rede.url_base }}/{{ s.url }}</a>
              </td>

              <td class="d-flex gap-2">
                <a href="{% url 'user_social_link_update' s.id %}" class="btn btn-sm btn-warning">Editar</a>
                <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarExclusaoSocialLinkModal{{ s.pk }}">Excluir</a>
              </td>
            </tr>
            {% include 'partials/_modal_delete_social_link.html' %}
          {% empty %}
            <tr>
              <td colspan="4">Você ainda não cadastrou redes socias.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header d-flex">
      <h3 class="card-title fw-bold my-auto {% if not identidade_visual.cor_sistema %}text-dark{% endif %}"
        style="{% if identidade_visual.cor_suplente %}
          
                 color: {{ identidade_visual.cor_sistema }};

        {% endif %}">
        Seus projetos
      </h3>
      {% if perms.repex.add_projeto %}
        <a class="btn btn-success ms-auto" href="{% url 'projeto_create' %}">Cadastrar</a>
      {% endif %}
    </div>
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Status</th>
            <th>Modalidade</th>
            <th>Visualizações</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          {% for p in projetos %}
            <tr>
              <td>{{ p.id }}</td>
              <td>{{ p.titulo }}</td>
              <td>{{ p.status }}</td>
              <td>{{ p.modalidade }}</td>
              <td>{{ p.views }}</td>
              <td class="d-flex gap-2">
                <a href="{% url 'projeto_detail' p.id %}" class="btn btn-sm btn-primary">Ver</a>
                {% if perms.repex.change_projeto %}
                  <a href="{% url 'projeto_update' p.id %}" class="btn btn-sm btn-warning">Editar</a>
                {% endif %}
                {% if perms.repex.delete_projeto %}
                  <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarExclusaoProjetoModal{{ p.pk }}">Excluir</a>
                {% endif %}
              </td>
            </tr>
            {% if perms.repex.delete_projeto %}
              {% include 'partials/_modal_delete_projeto.html' %}
            {% endif %}
          {% empty %}
            <tr>
              <td colspan="4">Você ainda não está em nenhum projeto.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if perms.repex.add_noticia %}
    <div class="card">
      <div class="card-header d-flex">
        <h3 class="card-title fw-bold my-auto {% if not identidade_visual.cor_sistema %}text-dark{% endif %}"
          style="{% if identidade_visual.cor_suplente %}
                  color: {{ identidade_visual.cor_sistema }};
          {% endif %}">
          Suas notícias
        </h3>
        <a class="btn btn-success ms-auto" href="{% url 'noticia_create' %}">Cadastrar</a>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Área de conhecimento</th>
              <th>Criado em</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            {% for n in user.noticias.all %}
              <tr>
                <td>{{ n.id }}</td>
                <td>{{ n.titulo }}</td>
                <td>{{ n.area_conhecimento }}</td>
                <td>{{ n.criado_em }}</td>
                <td class="d-flex gap-2">
                  <a href="{% url 'noticia_detail' n.id %}" class="btn btn-sm btn-primary">Ver</a>
                  {% if perms.repex.change_noticia %}
                    <a href="{% url 'noticia_update' n.id %}" class="btn btn-sm btn-warning">Editar</a>
                  {% endif %}
                  {% if perms.repex.delete_noticia %}
                    <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarExclusaoNoticiaModal{{ n.pk }}">Excluir</a>
                  {% endif %}
                </td>
              </tr>
              {% if perms.repex.delete_noticia %}
                {% include 'partials/_modal_delete_noticia.html' %}
              {% endif %}
            {% empty %}
              <tr>
                <td colspan="4">Você ainda não criou nenhuma notícia.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
