{% extends 'base_user.html' %}
{% load static crispy_forms_tags %}
{% block title %}
  Perfil de {{ user.username }}
{% endblock %}
{% block content %}
<div class="card mb-3">
  <div class="card-header d-flex">
    <h3 class="card-title fw-bold my-auto">Redes sociais</h3>
    <a class="btn btn-primary ms-auto" href="{% url "rede_social_create" %}">Cadastrar</a>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th>Título</th>
          <th>Ícone</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for r in redes_sociais %}
        <tr>
          <td>{{ r.nome }}</td>
          <td>{{ r.icone }}</td>
          <td>{{ r.url_base }}</td>
          <td>
            <a href="{% url "rede_social_update" r.id %}" class="btn btn-sm btn-primary">Editar</a>
            <a class="btn btn-sm btn-danger">Excluir</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header d-flex">
    <h3 class="card-title fw-bold my-auto">Identidades visuais</h3>
    <a class="btn btn-primary ms-auto" href="{% url "identidade_visual_create" %}">Cadastrar</a>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Cor do sistema</th>
          <th>Cor suplente para o sistema</th>
          <th>Cor dos títulos</th>
        </tr>
      </thead>
      <tbody>
        {% for i in identidades %}
        <tr>
          <td>
            {% if i.logo %}<img src="{{ i.logo.url }}" alt="logo do sistema" class="img-fluid" style="max-width: 50px;" />{% else %}Vazio{% endif %}
          </td>
          <td>{{ i.cor_sistema }}</td>
          <td>{% if i.cor_suplente %}{{ i.cor_suplente }}{% else %}Vazio{% endif %}</td>
          <td>{{ i.cor_titulo }}</td>
          <td>
            <a href="{% url "identidade_visual_update" i.id %}" class="btn btn-sm btn-primary">Editar</a>
            <a class="btn btn-sm btn-danger">Excluir</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
