{% extends 'base.html' %}
{% load static news_extras %}
{% block title %}
  Explorar projetos
{% endblock %}

{% block content %}
  <nav class="d-flex justify-content-center flex-wrap gap-2">
    
    <form method="get" id="filtros-form" name="q" value="{{ query }}" class="mb-4 d-flex gap-2 flex-wrap">
      <h4 class="me-2"><i class="fa-solid fa-filter"></i> Filtros:</h4>
      <select name="status" class="form-select form-select-sm border border-0 w-auto">
        <option value="">Status</option>
        {% for valor, label in status_choices %}
          <option class="border border-0" value="{{ valor }}" {% if status_selected == valor %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>

      <select name="modalidade" class="form-select form-select-sm border border-0 w-auto">
        <option value="">Modalidades</option>
        {% for valor, label in modalidade_choices %}
          <option class="border border-0" value="{{ valor }}" {% if modalidade_selected == valor %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>

     <select name="area_conhecimento" class="form-select form-select-sm border border-0 w-auto">
        <option value="">Áreas de conhecimento</option>
        {% for area in areas %}
          <option class="border border-0" value="{{ area.id }}" {% if request.GET.area_conhecimento == area.id %}selected{% endif %}>{{ area.area }}</option>
        {% endfor %}
      </select>
    </form>

  </nav>

  <div class="carousel-shell mb-5">
    {% if query or request.GET.status or request.GET.modalidade %}
    <h4 style="color: {{ identidade_visual.cor_sistema }};">Projetos correspondentes:</h4>
    {% endif %}
    <div id="spinner" class="text-center m-auto" style="display: none;">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>
    <div id="ajax_projetos">
      {% include 'partials/_ajax_projetos.html' %}
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}
  <script>
    $(document).on('change', '#filtros-form select', function () {
      let formData = $('#filtros-form').serialize()
      let query = $('#search-projetos').val()
      $.ajax({
        url: "{% url 'ajax_projetos' %}",
        type: 'GET',
        data: formData + '&q=' + encodeURIComponent(query),
        beforeSend: function () {
          $('#spinner').show()
        },
        success: function (data) {
          $('#ajax_projetos').html(data.html)
        },
        complete: function () {
          $('#spinner').hide()
        }
      })
    })
    
    $(document).on('click', '#ajax_projetos .pagination a', function (e) {
      e.preventDefault()
      let page = $(this).attr('href').split('page=')[1] || 1
      let formData = $('#filtros-form').serialize()
      let query = $('#search-projetos').val()
    
      $.ajax({
        url: "{% url 'ajax_projetos' %}",
        type: 'GET',
        data: formData + '&q=' + encodeURIComponent(query) + '&page=' + page,
        beforeSend: function () {
          $('#spinner').show()
        },
        success: function (data) {
          $('#ajax_projetos').html(data.html)
        },
        complete: function () {
          $('#spinner').hide()
        }
      })
    })
  </script>
{% endblock %}
