{% extends 'base.html' %}
{% load static news_extras %}
{% block title %}
  {{ noticia.titulo }}
{% endblock %}

{% block content %}
  <h1 style="color: orange;" class="text-center fw-bold mb-3">{{ noticia.titulo }}</h1>
  <p class="text-center fw-light">Publicado em: {{ noticia.criado_em }} por {{ noticia.autor.nome_usual }}</p>
  <div class="row g-4">
    <div class="col-md-6">
      {% if noticia.imagem %}
        <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" class="img-fluid w-100 mb-3" />
      {% else %}
        <img src="{% static 'imgs/placeholder.webp' %}" alt="{{ noticia.titulo }}" class="img-fluid w-100 mb-3" />
      {% endif %}
    </div>
    <div class="col-md-6">
      <p>{{ noticia.conteudo|safe }}</p>
    </div>
  </div>
{% endblock %}
