{% extends 'base_user.html' %}
{% load static crispy_forms_tags %}
{% block title %}{% if form.instance.pk %}Editar {% else %}Novo {% endif %}Projeto{% endblock %}
{% block content %}
  <h1 style="color: {{ identidade_visual.cor_sistema }};" class="mb-3">{% if form.instance.pk %}Editar {% else %}Novo {% endif %}Projeto</h1>
  <form method="post" enctype="multipart/form-data" class="card card-body">
    {% csrf_token %}
    {{ form.media }}
    {{ form| crispy }}
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-success">Salvar</button>
      <a href="{% url "dashboard" %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
{% endblock %}
