{% extends 'registration/login_base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
  <div class="container-fluid min-vh-100">
    <div class="row min-vh-100 d-flex">
      <div class="col-lg-6 col-md-8 col-sm-12 m-auto d-flex align-items-center justify-content-center">
        <div class="card border-0 shadow-lg w-100">
          <div class="card-body p-4">
            {% if messages %}
              <div class="container mt-3">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
