{% extends 'registration/login_base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
  <div style="width: 400px;" class="card shadow login-card">
    <div class="card-body p-4">
      <div class="d-flex">
        {% if identidade_visual.logo %}
          <img src="{{ identidade_visual.logo.url }}" alt="Logo repex" class="img-fluid mw-100 m-auto" style="max-height: 200px;">
        {% endif %}
      </div>
      
      <form class="my-2">
        {{ form| crispy }}
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>

      <div class="text-center my-2">
        <small class="text-muted">Entre ou cadastre-se com:</small>
      </div>
      
      <a href="{% url "login_suap" %}" class="btn btn-dark w-100 mb-3 d-flex align-items-center justify-content-center gap-2">
        <img src="https://suap.ifrn.edu.br/static/comum/img/favicon.png" alt="Logo SUAP" width="20" height="20" />
        <span>Entrar com SUAP</span>
      </a>

      <button type="button" class="btn bg-white border w-100 mb-3 d-flex align-items-center justify-content-center gap-2 shadow-sm">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" width="20" height="20" />
        <span class="text-muted">Entrar com Google</span>
      </button>
    </div>
  </div>
{% endblock %}
