:root {
    --primary: #4361ee;
    --secondary: #3a0ca3;
}

body {
    padding-top: 80px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#mainNavbar {
    height: 80px;
    transition: top 0.3s;
}

.carousel-shell {
    position: relative;
}

.carousel-viewport {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 0;
    transition: transform .5s ease;
    will-change: transform;
}

.card-item {
    flex: 0 0 40%;
    max-width: 40%;
    box-sizing: border-box;
    padding: .3rem;
    /* espaço interno entre cards */
}

.card-item .card {
    height: 100%;
}

/* controles */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    width: 28px;
    height: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .12);
}

.carousel-prev {
    left: -10px;
}

.carousel-next {
    right: -10px;
}

@media (max-width: 768px) {
    .card-item {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

.notice-shell {
    height: 500px;
}

.notice-card {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Escurecimento/borrão da imagem */
.notice-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Escurecer */
    backdrop-filter: blur(3px);
    /* Borrar levemente */
    z-index: 1;
}

.notice-label {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    font-size: 0.9rem;
    z-index: 2;
}

.notice-card h4 {
    position: relative;
    z-index: 2;
    text-align: center;
}

.btn-minimal {
    border: 2px solid var(--primary);
    background: transparent;
    color: var(--primary);
    border-radius: 8px;
    padding: 5px 12px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-minimal.filled {
    background: var(--primary);
    color: white;
}

.btn-minimal:hover {
    background: var(--primary);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(67, 97, 238, 0.3);
    text-decoration: none;
}

.btn-minimal.filled:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-group-minimal {
    display: flex;
    gap: 12px;
}