{% load static %}
<a href="{% url "noticia_detail" noticia.id %}" class="text-decoration-none">
  <div class="card border border-0 shadow shadow-sm">
    {% if noticia.imagem %}
      <img src="{{ noticia.imagem.url }}" class="card-img-top" alt="{{ noticia.titulo }}" />
    {% else %}
      <img src="{% static 'imgs/placeholder.webp' %}" class="card-img-top" alt="{{ noticia.titulo }}" />
    {% endif %}
    <div class="card-body">
      <h5 class="card-title" style="color: {{ identidade_visual.cor_titulo }};">{{ noticia.titulo }}</h5>
      <p class="card-text">{{ noticia.descricao }}</p>
    </div>
  </div>
</a>
