{% load static %}

<!-- Navbar -->
<nav id="mainNavbar" class="navbar navbar-expand-lg fixed-top navbar-dark {% if not identidade_visual.cor_sistema %}bg-dark{% endif %}" style="{% if identidade_visual.cor_suplente %} background: linear-gradient(to right, {{ identidade_visual.cor_sistema }}, {{ identidade_visual.cor_suplente }}); {% else %}background-color: {{ identidade_visual.cor_sistema }};{% endif %}">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      {% if identidade_visual.logo %}
        <img style="max-height: 50px;" src="{{ identidade_visual.logo.url }}" />
      {% else %}
        Repex
      {% endif %}
    </a>

    <form method="GET" action="{% url 'explorar' %}" class="flex-grow-1 mw-100 mx-3 d-none d-md-block">
      {% csrf_token %}
      <div class="position-relative">
        <input type="text" id="search-projetos" name="q" class="form-control" placeholder="Busque projetos:" value="{{ query }}" />
        <button type="submit" class="btn btn-link p-0 position-absolute top-50 end-0 translate-middle-y me-3"><i class="fas fa-search text-dark"></i></button>
      </div>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'index' %}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'explorar' %}">Explorar</a>
        </li>
        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-transparent text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'profile_detail' request.user.id %}">Ver perfil</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" style="color: {{ identidade_visual.cor_sistema }};">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <form method="GET" action="{% url 'explorar' %}" class="w-100 mb-1">
      <div class="position-relative">
        <input type="text" name="q" class="form-control" placeholder="Busque projetos:" value="{{ query }}" />
        <button type="submit" class="p-0 position-absolute top-50 end-0 translate-middle-y me-3"><i class="fas fa-search"></i></button>
      </div>
    </form>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item mb-1">
        <a class="nav-link active" href="{% url 'index' %}" style="color: {{ identidade_visual.cor_sistema }};">Início</a>
      </li>
      <li class="nav-item mb-1">
        <a class="nav-link active" href="{% url 'explorar' %}" style="color: {{ identidade_visual.cor_sistema }};">Explorar</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item mb-1">
          <a class="nav-link active" href="{% url 'profile_detail' request.user.id %}" style="color: {{ identidade_visual.cor_sistema }};">Ver perfil</a>
        </li>
        <li class="nav-item mb-1">
          <a class="nav-link active" href="{% url 'logout' %}" style="color: {{ identidade_visual.cor_sistema }};">Logout</a>
        </li>
      {% else %}
        <li class="nav-item mb-1">
          <a class="nav-link active" href="{% url 'login' %}" style="color: {{ identidade_visual.cor_sistema }};">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
