{% load static %}
<nav class="navbar navbar-dark main-header navbar-expand-lg border border-0">
  <div class="container custom-container">
    <a class="nav-link ms-1" data-widget="pushmenu" role="button"><i class="fas fa-bars fa-xl text-white"></i></a>

    <div class="collapse navbar-collapse d-none d-lg-flex justify-content-between">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item ms-2">
          <a class="nav-link" href="{% url 'ver_perfil' %}"><i class="fa-solid fa-user fa-xl"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
